@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Tourney', cursive;
  background: lightgreen;
}

.container {
  width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 100px;
  text-align: center;
}
/* reset button */
.restart-btn {
  display: inline-block;
  background: lightblue;
  color: red;
  padding: 20px 40px;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 10px;
}

.restart-btn:hover {
  background: blue;
  color: white;
}
/*Heading*/

.header {
  text-align: center;
  margin: 1rem 0;
}

.header h1 {
  margin-bottom: 20px;
}
/*Player & comp.Score*/
.scores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 40px;
  color: black;
}

.player {
  background: wheat;
}

.computer {
  background: orange;
}
/*Player choices and Computer choice*/

.choices {

  display: inline-block;
  grid-template-columns: repeat(5, 1fr);
  overflow: hidden;
  margin-top: 60px;
  text-align: center;
}

.choice {
  cursor: pointer;
}

.choice:hover {
  color: blue;
}

#rock {
  position: center;
}

 #spock, #lizard {
  float: left;
}

#paper, #scissors {
  float: right;
}

#lizard, #scissors {
  margin-top: 400px;
  margin-left: 40px;
  padding: 10px;
}

#spock, #paper{
  margin-top: 150px;
  margin-left: 50px;
  padding: 10px;
}

#scissors {

  margin-right: 40px;
}

#lizard {
  margin-right: 20px;
}
/*Result*/
.result-a {
  width: 290px;
  height: 20px;
  margin: 0 auto;
  margin-top: 60px;
}
#result {
  
  background: white;
  border: 1px solid black;
  padding: 0 auto;
  font-size: 14px;
}

 .text-win {
   color: green;
 }
.text-lose {
  color: red;
}

/*Game Instructions & About game*/

.footer {
  
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  margin: 10px;
  padding: 15px;
  overflow: hidden;
}

.nav {
  padding: 20px;
  display: block;
  grid-gap: 6rem;
}
/*Screen size*/

@media screen and(max-width: 760px) {
  
.container {
  width: 100%;
  font-size: small;
  float: left;
}
.choices {
  font-size: 40px;
}
}

@media screen and (max-width: 500px) {

.container {
  width: 100%;
  font-size: 20px;
  float: left;
  padding: 10px;
}
.scores {
  font-size: 30px;
}
.choices {
  font-size: 10px;
  float: left;
}
.result-a {
  font-size: 2px;
}
#result {
  height: 170px;
  margin-top: 200px;
  margin-bottom: 100px;
  font-size: 10px;
  text-align: center;
}
#lizard, #scissors {
  margin-top: 200px;
}
#scissors {
  
  margin-right: 80px;
}
#lizard {
  margin-left: 80px;
}
#paper {
  margin-right: 40px;
}
#rock {
  position: relative;
}
}

